/* 这个文件专门来实现登录页面的样式 */

.login-container {
    width: 100%;
    height: calc(100% - 50px);
    /* 为了让内部的登录对话框能够垂直水平居中， 使用 flex 布局来实现*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-dialog {
    width: 400px;
    height: 350px;
    background-color: red;
}