/* 这个文件专门来实现登录页面的样式 */

.login-container {
    width: 100%;
    height: calc(100% - 50px);
    /* 为了让内部的登录对话框能够垂直水平居中， 使用 flex 布局来实现*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-dialog {
    width: 400px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
} 

.login-dialog h3{
    text-align: center;
    padding: 50px 0;
}

.login-container .row {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container .row span {
    display: block;
    /* 设置固定宽度，能让问字和后面的输入框之间有间隙 */
    width: 100px;
    font-weight: 700;
}

.login-dialog #username,
.login-dialog #password {
    width: 200px;
    height: 40px;
    font-size: 20px;
    text-indent: 10px;
    border-radius: 10px;
    /* 边框 */
    border: none;
    /* 选中的边框（轮廓线） */
    outline: none;
}

.login-dialog #submit {
    width: 300px;
}